{% extends '@App/base.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1>Feed list</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      {% if feeds|length %}
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Data</th>
            <th>Action</th>
          </tr>
          {% for feed in feeds %}
            <tr>
              <td>{{ feed.id }}</td>
              <td>{{ feed.category }}</td>
              <td>{{ feed.data }}</td>
              <td>
                <a href="{{ path('app.feed.edit', {id: feed.id}) }}">Edit</a>
                <a href="{{ path('app.feed.delete', {id: feed.id}) }}"
                   onclick="return confirm('Are you sure you want to delete this?');">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>

        <div class="pagerfanta">
          {{ pagerfanta(pagination, 'twitter_bootstrap4') }}
        </div>
      {% else %}
        No results found.
      {% endif %}
    </div>

    <div class="col-md-3 ">
      <form class="p-2 bg-light">
        <div class="mb-3">
          <b>Filter by category</b>
        </div>
        <div class="form-group">
          {% for category in categories %}
            <label>
              <input
                type="checkbox"
                name="categoryIds[]"
                value="{{ category.id }}"
                {% if category.id in selectedCategoryIds %}
                  checked
                {% endif %}
              />
              {{ category.name }}
            </label>
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn btn-sm btn-secondary">Apply</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}